<div class="page-header">
    <h3>{{'APP.MENU.AVAILABLE_ROOMS' | translate}}</h3>
    <h6 ng-show="!user">{{'FORM.AVAILABLE_ROOMS.ONLY_REGISTERED_USERS' | translate}}</h6>
</div>
<form class="" ng-controller="AvailableRoomsController">
    <div>
        <table st-table="displayedCollection" st-safe-src="rooms" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="number">{{'FORM.AVAILABLE_ROOMS.NUMBER' | translate}}</th>
                    <th st-sort="floor">{{'FORM.AVAILABLE_ROOMS.FLOOR' | translate}}</th>
                    <th st-sort="capacity">{{'FORM.AVAILABLE_ROOMS.CAPACITY' | translate}}</th>
                    <th st-sort="roomType">{{'FORM.AVAILABLE_ROOMS.ROOM_TYPE' | translate}}</th>
                    <th st-sort="internet">{{'FORM.AVAILABLE_ROOMS.INTERNET' | translate}}</th>
                    <th st-sort="television">{{'FORM.AVAILABLE_ROOMS.TV' | translate}}</th>
                    <th st-sort="phone">{{'FORM.AVAILABLE_ROOMS.PHONE' | translate}}</th>
                </tr>
                <tr>
                    <th colspan="7">
                        <input st-search="" class="form-control" placeholder="{{'FORM.DEFAULT.GLOBAL_SEARCH' | translate}}" type="text">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="room in displayedCollection">
                    <td>{{room.number}}</td>
                    <td>{{room.floor}}</td>
                    <td>{{room.capacity}}</td>
                    <td>{{room.roomType}}</td>
                    <td>{{room.internet}}</td>
                    <td>{{room.television}}</td>
                    <td>{{room.phone}}</td>
                    <td>
                        <div class="float-right">
                        	<a href="#!/create_reservation/{{room.id}}" ng-click="" class="btn btn-outline-info" title="{{'FORM.AVAILABLE_ROOMS.RESERVE' | translate}}">
								<span class="fa fa-bed"></span>
							</a>                        	
                        	<a href="" ng-click="deleteRoom(room)" class="btn btn-outline-danger" ng-show="hasRole('ADMIN')" title="{{'FORM.AVAILABLE_ROOM.DELETE' | translate}}">
								<span class="fa fa-trash-o"></span>
							</a> 	
							<a href="#!/edit_room/{{room.id}}" class="btn btn-outline-success" ng-show="hasRole('ADMIN')" title="{{'FORM.AVAILABLE_ROOM.EDIT' | translate}}">
								<span class="fa fa-pencil"></span>
							</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>