<div class="float-right">
	<a href="#!/create_reservation">
   		<button type="button" class="btn btn-outline-success">{{'FORM.RESERVATIONS.ADD_RESERVATION' | translate}}</button>
   	</a>	
</div>
<div class="page-header">
	<h3>{{'APP.MENU.RESERVATIONS' | translate}}</h3>
</div>
<form class="" ng-controller="ReservationController">
    <div>
        <table st-table="displayedCollection" st-safe-src="reservations" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="roomNumber">{{'FORM.RESERVATIONS.ROOM_NUMBER' | translate}}</th>
                    <th st-sort="roomFloor">{{'FORM.RESERVATIONS.ROOM_FLOOR' | translate}}</th>
                    <th st-sort="roomType">{{'FORM.RESERVATIONS.ROOM_TYPE' | translate}}</th>
                    <th st-sort="reservationStart">{{'FORM.RESERVATIONS.START' | translate}}</th>
                    <th st-sort="reservationEnd">{{'FORM.RESERVATIONS.END' | translate}}</th>
                    <th st-sort="reservationStatus">{{'FORM.RESERVATIONS.RESERVATION_STATUS' | translate}}</th>
                    <th ng-show="hasRole('ADMIN') || hasRole('CONTROLLER') || hasRole('JUNIOR')" st-sort="reservedBy">{{'FORM.RESERVATIONS.RESERVED_BY' | translate}}</th>
                </tr>
                <tr>
                    <th colspan="8">
                        <input st-search="" class="form-control" placeholder="{{'FORM.DEFAULT.GLOBAL_SEARCH' | translate}}" type="text">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="reservation in displayedCollection">
                    <td>{{reservation.roomNumber}}</td>
                    <td>{{reservation.roomFloor}}</td>
                    <td>{{reservation.roomType}}</td>
                    <td>{{reservation.reservationStart | date: 'yyyy-MM-dd' }}</td>
                    <td>{{reservation.reservationEnd | date: 'yyyy-MM-dd' }}</td>
                    <td>{{reservation.reservationStatus}}</td>
                    <td ng-show="hasRole('ADMIN') || hasRole('CONTROLLER') || hasRole('JUNIOR')">{{reservation.reservedBy}}</td>
                    <td>
                        <div class="float-right">
                        	<a href="" ng-click="deleteReservation(reservation)" class="btn btn-outline-danger" ng-show="hasRole('ADMIN')" title="{{'FORM.DEFAULT.DELETE' | translate}}">
								<span class="fa fa-trash-o"></span>
							</a>
							<a href="#!/edit_reservation/{{reservation.id}}" class="btn btn-outline-success" ng-show="hasRole('ADMIN') || hasRole('CONTROLLER') || hasRole('JUNIOR') || reservation.canGuestCancel" title="{{'FORM.DEFAULT.EDIT' | translate}}">
								<span class="fa fa-pencil"></span>
							</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>