<div class="page-header">
    	<h3>{{'APP.MENU.RESERVATIONS' | translate}}</h3>
</div>
<form class="" ng-controller="EditReservationController">
    <div class="form-group">
        <label class="col-form-label col-md-2" for="room">{{'FORM.RESERVATIONS.ROOM' | translate}}</label>
        <div class="col-md-5">
            <ol name="roomsSelect" class="nya-bs-select" ng-model="reservation.room"
            data-live-search="true" ng-required="roomsSelectRequired">
                <li nya-bs-option="room in availableRooms">	<a>{{ room.number }} {{ room.roomType }}<span class="glyphicon glyphicon-ok check-mark"></span></a>
                </li>
            </ol>
        </div>
    </div>
    <div class="form-group" ng-show="false">
        <label class="col-form-label col-md-2" for="room">{{'FORM.RESERVATIONS.RESERVED_BY' | translate}}</label>
        <div
        class="col-md-5">
            <ol class="nya-bs-select" ng-model="reservation.user" data-live-search="true">
                <li nya-bs-option="user in users">	<a>{{ user.firstName }} {{ user.lastName }} - {{ user.email }}<span class="glyphicon glyphicon-ok check-mark"></span></a>
                </li>
            </ol>
    </div>
    </div>
    <div class="form-group" ng-show="hasRole('ADMIN') || hasRole('CONTROLLER') || hasRole('JUNIOR')">
        <label class="col-form-label col-md-2" for="reservationStatus">{{'FORM.RESERVATIONS.RESERVATION_STATUS' | translate}}</label>
        <div
        class="col-md-5">
            <ol class="nya-bs-select" ng-model="reservation.reservationStatus" data-live-search="true">
                <li nya-bs-option="reservationStatusType in reservationStatusTypes">	<a>{{ reservationStatusType }}<span class="glyphicon glyphicon-ok check-mark"></span></a>
                </li>
            </ol>
    </div>
    </div>
    <div class="form-group">
        <label class="col-form-label col-md-2" for="start">{{'FORM.RESERVATIONS.START' | translate}}</label>
        <div class="col-md-3">
            <input ng-model="reservation.start" type="text" id="startDate" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-form-label col-md-2" for="start">{{'FORM.RESERVATIONS.END' | translate}}</label>
        <div class="col-md-3">
            <input ng-model="reservation.end" type="text" id="endDate" class="form-control">
        </div>
    </div>
    <div class="form-group" ng-show="hasRole('ADMIN') || hasRole('CONTROLLER') || hasRole('JUNIOR')">
        <label class="col-form-label col-md-2" for="paid">{{'FORM.RESERVATIONS.PAID' | translate}}</label>
        <div class="col-md-1"
        id="paid">
            <input ng-model="reservation.paid" type="checkbox" id="paid" class="form-control custom-control-input">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 offset-sm-2">
            <button type="submit" class="btn btn-outline-primary" ng-click="save()"><span class="fa fa-check"></span> {{'FORM.DEFAULT.SAVE' | translate}}</button>
        </div>
    </div>
</form>